




.personalbacground {

    background-color: var(--lightgray);
    padding: 94px;
    width: auto;
    height: 460px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.contanair4 {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box2 {
    justify-content: space-between;
    display: flex;
    align-items: center;
    background-color: var(--white);
    flex-direction: column;
    width: 270px;
    height: 428px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding: 0;
}




.per {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    max-width: 1200px;
    width: 100%;
    margin-top: 50px;
}

.personal {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.03em;
    text-align: center;
}

.position {
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.03em;
    align-items: center;
}

.media {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    gap: 10px;
}

.instagram {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.twitter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.facebook {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}

.linkedin {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.circle {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--white);

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 30px;
}

.circle:hover {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--blue);
    --color5: var(--white);
    --color4: var(--white);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    padding: 94px;
    margin: 0 auto;
    justify-content: space-between;


}

.customersico {
    display: flex;
    align-items: center;
    list-style-type: none;

    margin-top: 50px;
    justify-content: space-between;
    padding: 0;

    max-width: 1200px;
    width: 100%;

}

.boxicon2 {
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 170px;
    height: 92px;
    margin: 0 auto;
    padding: 0;
    border: solid;
    size: 1px;
    color: var(--icony);
    border-radius: 4px;
}

.boxicon2:hover {
    color: var(--blue);
    --color4: var(--blue);
    --color2: var(--blue);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo01 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.logo02 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.logo03 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.logo4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.logo5 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.logo6 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}





.address {
    font-style: normal;
    width: auto;
    flex-flow: column;
}

.colorcursor:hover {
    color: var(--blue);

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address1 {
    color: var(--white);
    font-weight: 400;
    text-decoration: none;
    margin-top: 20px;

}

.footermail {
    color: var(--white);
    opacity: 60%;
    font-weight: 400;
    text-decoration: none;
}

.footertel {
    color: var(--white);
    opacity: 60%;
    font-weight: 400;
    text-decoration: none;


}



.button1 {
    color: var(--dark);
    font-size: 16px;
    font-weight: 500;
    background-color: var(--lightgray);
    height: 38px;
    border: none;
    padding: 8px 22px 8px 22px;

}

.box03:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

    border-radius: 10px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button1:hover {
    color: var(--white);
    background-color: var(--blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.containerportfolio {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding-top: 94px;
    align-items: center;
    display: flex;
    justify-content: center;

}



.contenairbox3 {
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 94px;

}
 
.listportfolio {
    text-decoration: none;
    width: 370px;
    height: 404px;
    border-bottom: solid;
    size: 1px;
    border-color: var(--flame);
    padding: 0;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.listportfolio:hover{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

    
.cardbox {
    display: block;
}

.jpgscroll  {
    overflow: hidden;
    width: 370px;
    height: 294px;
    
    position: relative;


}

.jpgscrolltxt {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--blue);
    opacity: 90%;
   
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.crolltxt {
    font-size: 18px;
    font-weight: 400;
    color: var(--white);
    line-height: 28px;
    letter-spacing: 0.03em;
    padding: 24px;
}
    

.listportfolio:hover .jpgscrolltxt {
    transform: translateY(-100%);
    
    
}


.category {
    font-size: 18px;
    font-weight: 700;
    padding-left: 24px;
    text-align: left;
    margin-top: 20px;
    text-decoration: none;
    

}

.position2 {
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-bottom: 20px;
    text-decoration: none;

}

.list4 {

    list-style-type: none;
    max-width: 1200px;

    width: 100%;
    padding: 0;
    justify-content: space-between;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;

}

.buttonfull {
    border-radius: 4px;
    letter-spacing: 0.03em;
    max-width: 1200px;
    gap: 8px;
    width: 100%;
    padding: 0 15px;
    justify-content: center;
    display: flex;
    margin: 0 auto;
}

.footercon {

    background-color: var(--bacground);
    width: auto;
    height: auto;

    padding: 60px;
}
.footer__logo-next {
    color: var(--white);
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}
.footer__logo-first {
    color: var(--blue);
    font-size: 26px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}


.footerbacground {
    max-width: 1200px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 0 auto;
    padding: 0;
}

.container06 {
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-flow: column;


}


.join1 {
    justify-content: flex-start;
    display: flex;
    flex-flow: column;
    padding: 0 15px;
    margin: 0 auto;
    margin-right: 78px;
}


.join2 {
    font-weight: 700;
    color: var(--white);
    letter-spacing: 0.03em;
    padding: 0;
    margin-top: -55px;

    justify-content: flex-start;
}

.join {
    list-style-type: none;
    display: flex;
    padding: 0;
    gap: 10px;
    margin: 0 auto;
    justify-content: flex-start;
}

.circle2 {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.instagram2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    --color5: var(--white)
}

.twitter2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    --color4: var(--white)
}

.facebook2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    --color4: var(--white)
}

.linkedin2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    --color4: var(--white)
}

.circle2:hover {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--blue);
    --color5: var(--white);
    --color4: var(--white);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}



.footermail:hover {
    color: var(--blue);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.footertel:hover {
    color: var(--blue);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}



:visited.now {
    color: var(--dark);
}

:visited.position2 {
    color: var(--gray);
}




.input {
    border: 0;
    background-color: transparent;
    font-size: 16px;
}
.input:focus {
    outline: none;
}

.fieldset:has(input:focus) {
    border-color: var(--blue);
}
.fieldset:hover .name-ico {
    fill: var(--blue);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.fieldset:hover {
    border-color: var(--blue);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.fieldset:has(input:focus) .name-ico{
    fill: var(--blue);

}
.name-ico {
    width: 12px;
    height: 12px;
    fill: var(--dark);
    margin-right: 15px;
    margin-left: 15px;
    padding: 0;
}
.label {
    display: flex;
    margin-top: 10px;
    padding: 0, 15px;
    font-size: 12px;
    font-weight: 400;
    color: var(--gray);
    margin-left: 2px;
    
}
.fieldset {
    display: flex;
    align-items: center;
    width: 448px;
    height: 40px;
    border: solid;
    border-color: rgba(33, 33, 33, 0.2);
    border-width: 1px;
    border-radius: 4px;
    margin-top: 3.6px;
    margin-left: 0px;
    padding: 0;
    cursor: pointer;
}
.fieldset1 {
    display: flex;
    align-items: center;
    width: 448px;
    height: 120px;
    border: solid;
    border-color: rgba(33, 33, 33, 0.2);
    border-width: 1px;
    border-radius: 4px;
    margin-top: 4px;
    padding: 0;
    cursor: pointer;
}
.coment {
    width: 416px;
    height: 96px;
    display: flex;
    align-items: center;
    margin-left: 16px;
    padding: 0;
    border-color: transparent;
    font-size: 14px;
    font-weight: 400; 
    
    resize: none;   
}
.coment::placeholder{
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.01em;
    font-family: 'Roboto', sans-serif;
}

.coment:focus {
    outline: none;
  }
  .fieldset1:has(.coment:focus) {
    border-color: var(--blue);
}
.fieldset1:hover {
    border-color: var(--blue);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.statute {
    position: relative;
    cursor: pointer;
    align-items: center;
    display: flex;
    margin-top: 20px;
    letter-spacing: 0.03em;
    justify-content: space-between;
    margin-right: 15px;
    margin-bottom: 30px;
    padding:0;
    
}
.statute input {
    position: absolute;
    cursor: pointer;
    width: 0;
    height: 0;
    opacity: 0;
}
.statute .checkmark .ico-checkpox {
    position: absolute;
    width: 16px;
    height: 15px;
    fill:var(--black);
    display: flex;
    top: 0;
    margin-left: 15px;  
}
.checkmark:after {
    position: absolute;
    display: none;
    width: 16px;
    height: 15px;
    content: url("data:image/svg+xml,%3csvg width='16' height='15' viewBox='0 0 16 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='16' height='15' rx='2' fill='%232196F3'/%3e%3cpath d='M3.95703 7.75166L3.88825 7.68604L3.81923 7.75141L2.93123 8.59258L2.85486 8.66492L2.93097 8.73753L6.42671 12.0724L6.49574 12.1382L6.56476 12.0724L14.069 4.91352L14.1449 4.84116L14.069 4.76881L13.1873 3.92764L13.1183 3.86183L13.0493 3.92761L6.49577 10.1735L3.95703 7.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3e%3c/svg%3e");
    margin-left: 15px; 
    top:0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.statute input:checked ~ .checkmark::after {
    display: block;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.stat-text {
    color: var(--gray);
    font-weight: 400;
}
.stat-text-web{
    color: var(--blue);
    font-weight: 400;
}
.button-stat {
    display: flex;
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    background-color: var(--blue);
    width: 200px;
    height: 50px;
    cursor: pointer;
    border: none;
    align-items: center;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;

}
.button-stat:hover {

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        display: flex;
        gap: 7px;
}
    

.fieldset-footer {
    display: flex;
    align-items: center;
    width: 358px;
    height: 50px;
    border: solid;
    border-color: rgba(255, 255, 255, 0.3);
    border-width: 1px;
    border-radius: 4px;
    margin-top: 16px;
    margin-left: 0px;
    padding: 0;
    cursor: pointer;
}
.join4 {
    font-weight: 700;
    color: var(--white);
    letter-spacing: 0.03em;
    padding: 0;
    margin-top: -55px;
    margin-right: 12px;;
}
.input3 {
    border: 0;
    background-color: transparent;
    font-size: 16px;
    color: var(--white);
    margin-left: 16px;;
}
.input3:focus {
    outline: none;
}
.fieldset-footer:has(input:focus) {
    border-color: var(--blue);
}
.fieldset-footer:hover {
    border-color: var(--blue);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.join5 {
    margin-top: -24px;
    padding: 0;
    margin-right: 4px;
}


/*.fieldset:has(input:invalid){
    border-color: red;
}
.fieldset:has(input:invalid) .name-ico{
    fill: red;
    
}*/